{cover_enabled, true}.

{port_sources, []}.

{sub_dirs, []}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform},
    {d, 'USE_SPECS'}
  ]}.

{deps, [
  {eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
]}.

{xref_checks, [undefined_function_calls, undefined_functions, exports_not_used,
              locals_not_used, deprecated_function_calls,
              deprecated_functions ]}.

{post_hooks, [{xref, "./line_length_check src"}]}.
