%% -*- mode: erlang;tab-width: 2;erlang-indent-level: 2;indent-tabs-mode: nil -*-
[
  {lager, [
    {handlers, [
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
      {lager_file_backend, [{file, "log/crash.log"}, {level, error}]}
    ]}
  ]},

 {client, [{stream_host, "localhost"},
           {stream_port, 8803}]}
].
