%% -*- tab-width: 2;erlang-indent-level: 2;indent-tabs-mode: nil -*-

{sub_dirs, ["rel"]}.

{cover_enabled, true}.
{erl_opts, [ debug_info,
             {parse_transform, lager_transform},
             warnings_as_errors
           ]}.

{deps,
 [
  {eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
 ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
              locals_not_used, deprecated_function_calls, deprecated_functions
              ]}.

{post_hooks, [{xref, "./line_length_check src"}]}.
