%% -*- mode: erlang;tab-width: 2;erlang-indent-level: 2;indent-tabs-mode: nil -*-
[
  {lager, [
    {handlers, [
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
      {lager_file_backend, [{file, "log/crash.log"}, {level, error}]}
    ]}
  ]},

 {price,
  [
   {price_stream_worker,
    [{port, 8803},
     {options, [{reuseaddr, true}, {active, true}, binary]},
     {max_workers, 10}]
   },
   {generator, [{events, 50},
                {rate, 100}
               ]}
  ]
 }
].
